  <div class="row clearfix">
    <div class="col-md-4 column">
      <%= image_tag @movie.movie_poster.url(:medium) %>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <strong>Title:</strong>
                <%= @movie.title %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Year:</strong>
                <%= @movie.year %>
              </td>
            </tr>          
            <tr>
              <td>
                <strong>Rated:</strong>
                <%= @movie.rated %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Duration:</strong>
                <%= @movie.duration %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Synopsis:</strong>
                <%= @movie.synopsis %>
              </td>
            </tr> 
          </tbody>
        </table>
    </div>
  <div class="col-md-8 column">
    <%= render 'movies/linker' %>
  </div>
</div>