<div class="row clearfix">
  <div class="col-md-6 column">
    <%= link_to (image_tag @movie.movie_poster.url(:medium)), @movie %>
    <p><%= link_to @movie.title, @movie %></p>
    <p><%= @song.title %></p>
    <p><%= @song.description %></p>
  </div>
<div class="col-md-6 column">
  <strong>Checkout these other films in the <%= @song.title %> song </strong><br />
  <% @similar_songs.each do |song| %>
  <p><%= link_to song.movie.title, song.movie %></p>
  <p><%= link_to (image_tag song.movie.movie_poster.url(:thumb)), song.movie %></p>
<% end %>
</div>
