<%= form_for([@movie, @common]) do |f| %>
  <% if @common.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@common.errors.count, "error") %> prohibited this Cliche from being saved:</h2>
      <ul>
        <% @common.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>