<div class="row clearfix">
  <div class="col-md-6 column">
    <%= link_to (image_tag @movie.movie_poster.url(:medium)), @movie %>
    <p><%= link_to @movie.title, @movie %></p>
    <p><%= @common.title %></p>
    <p><%= @common.description %></p>
  </div>
<div class="col-md-6 column">
  <strong>Checkout these other films in the <%= @common.title %> common </strong><br />
  <% @similar_commons.each do |common| %>
  <p><%= link_to common.movie.title, common.movie %></p>
  <p><%= link_to (image_tag common.movie.movie_poster.url(:thumb)), common.movie %></p>
<% end %>
</div>
